
{% extends 'downloader/layout.html' %}
{%block body%}
<br>
<center><div>
  <iframe  class="video" src={{url}} title="YouTube video" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
</div>
</center>
<br>
<center>
<table style="width:90%;" class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Resolutions</th>
      <th scope="col">Download</th>
    </tr>

  </thead>

  <tbody>
  {%for i in resolutions%}
  <tr>
      <form action="{% url 'downloader:download3' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="selected_res" value={{i}} style="display:none;">
      <input type="text" name="selected_link" value={{url}} style="display:none;">
      <td>{{i}}</td>
      <td style="border-left:1px solid #dee2e6;">
      <button id="darkbtn1"><input type="submit" value="Download" style="color:white; border:none; outline:none; Background: transparent"></button></td>
      </form>
  </tr>
  {%endfor%}
  </tbody>
</table>
</center>
<br>
<br>
<center>
<table style="width:90%;" class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Audioclip🎵</th>
      <th scope="col">Download</th>
    </tr>

  </thead>

  <tbody>
  <tr>
      <form action="{% url 'downloader:download2' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="selected_link" value={{url}} style="display:none;">
      <td>MP3</td>
      <td style="border-left:1px solid #dee2e6;">
      <button id="darkbtn1"><input type="submit" value="Download" style="color:white; border:none; outline:none; Background: transparent"></button></td>
      </form>
  </tr>
  </tbody>
</table>
</center>
{%endblock%}